.films {
    margin: 15px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.films li {
    padding: 5px;
    border: 1px solid gray;
}

.characters {
    padding-left: 25px;
}

.characters li {
    padding: 5px;
    border: none;
}

.loading {
    margin: 25px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #555;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }